/*---------------------- GLOBAL STYLE ----------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    /*----- Colours -----*/

 --banner: #2a607c;
 --section-background: #0072bb;
 --aside-background: #2589bd;
 --light-grey: #d9dcd6;
 --white: #ffffff; 

    /*----- Fonts -----*/
 --trebuchet: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 --gillsans : 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}


body {
    background-color: var(--light-grey);
}

a {
    color: var(--white);
    text-decoration: none;
}
a:hover{
    text-shadow: 1px 1px 5px #d9dcd6;
}

p {
    font-size: 16px;
}

em {
    font-style: normal;
}

/*---------------------- HEADER ----------------------*/
header {
    padding: 20px;
    font-family: var(--trebuchet);
    background-color: var(--banner);
    color: var(--white);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 #seo {
    color: var(--light-grey);
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--gillsans);
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*---------------------- HERO SECTION ----------------------*/
#hero {
    display:block;
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/*---------------------- MAIN SECTION ----------------------*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

#search-engine-optimization,
#online-reputation-management,
#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: var(--gillsans);
    background-color: var(--section-background);
    color: var(--white);
}

#search-engine-optimization img,
#online-reputation-management img,
#social-media-marketing img {
    max-height: 200px;
}

#search-engine-optimization h2,
#online-reputation-management h2,
#social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/*---------------------- ASIDE ----------------------*/
#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: var(--gillsans);
    background-color: var(--aside-background);
}

#benefit-lead,
#benefit-brand,
#benefit-cost {
    margin-bottom: 32px;
    color: var(--white);
}

#benefit-lead h2,
#benefit-brand h2,
#benefit-cost h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.17em; /* h2 with a font-size of a h3*/
}

#benefit-lead img,
#benefit-brand img,
#benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*---------------------- FOOTER ----------------------*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
    /* 
    Suggestion for the footer - to be discussed with the client:*/
    background-color: var(--banner);
    color: var(--white);
}

footer p{
    font-size: 20px;
}
